/* colors */
$black_nav_background: #191919;
$black_nav_background_hover: #282828;
$white: #ffffff;
$grey_dark: #333333;
$grey_button: #979797;
$grey_button_hover: #bababa;
$grey_disable_button: #e3e3e3;
$grey_tab: #f5f5f2;
$grey_font: #a6a6a6;
$grey_nav_font: #999999;

$orange_button: #f58220;
$orange_button_hover: #ffa200;

$green_online: #04ae00;
$green_positive_note_hover: #74b67a;
$green_positive_note: #96cc9b;

$pink_negative_note_hover: #de5252;
$pink_negative_note: #ec7171;
$blue_link: #56819f;
$red: #ff0000;

/* Fonts */
$font: "Roboto", sans-serif;
$text_size: 14px;
$header_size: 16px;
