@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
@import "components/orange-button";

/* Sections */
@import "sections/sidebar";
@import "sections/topbar";
@import "sections/content";


/* Pages / Views *
@import "pages/registration";
*/
.links-table {
    
    width: 80%;
    border-collapse: collapse;
}
td {
    color: $grey_font;
    border-bottom: 1px solid $grey_font;
    height: 58px;
  }
  