@import "variables";
@import "mixins";
@import "normalize";
@import "layout";

/* Components */
@import "components/orange-button";
@import "components/grey-button";
@import "components/tooltip";
@import "components/modal";
@import "components/select";

/* Sections */
@import "sections/sidebar";
@import "sections/topbar";
@import "sections/content";

/* Pages / Views *
@import "pages/registration";
*/
.chart {
    width: 100%;
    height: 100%;
    #myChart {
        width: 90%;
        height: 70% !important;
    }
}