.main-nav {
  height: 60px;
  width: 188px;
  padding: 20px 20px;
  background: $black_nav_background;
  color: $white;
  position: absolute;
  z-index: 6;
  position: fixed;
}
.main-nav .hamburger {
  padding-left: 40px;
  vertical-align: super;
  height: 83px;
  color: $grey_nav_font;
}
.main-nav .hamburger i:hover {
  color: $white;
}
/*sidebar */
.sidebar {
  height: 100%;
  width: 188px;
  z-index: 5;
  background: $black_nav_background;
  color: $white;
  float: left;
  position: fixed;
}

ul.side-nav {
  list-style-type: none;
  margin: 60px 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid $black_nav_background_hover;
  @include small {
    margin: 60px 0 0 0; 
  }
}
.showmenu {
  @include small {
    display: none;
  }
}
.side-nav li a {
  text-decoration: none;
  width: 100%;
  border-left: 3px solid $black_nav_background;
  color: $grey_nav_font;
  padding: 13px 0;
  cursor: pointer;
  display: block;
  @include iphone5 {
   padding: 9px 0;   
  }
  &:hover {
    background: $black_nav_background_hover;
    border-left: 3px solid $orange_button;
    color: $white;
    &:focus {
      background: $orange_button;
    }
    &:active {
      background: $orange_button;
    }
  }
}

.side-nav .icon {
  padding: 0 10px;
}
/* Avatar */
.sidebar-avatar {
  color: $grey_nav_font;
  text-align: center;
  border-bottom: 2px solid $black_nav_background_hover;
  padding-bottom: 13px;
}
.sidebar-avatar .avatar img {
  width: 44px;
  height: 44px;
}
.sidebar-avatar p {
  text-transform: capitalize;
  text-align: left;
  margin-left: 20px;
  margin-top: 27px;
  @include small {
    margin-top: 7px;
  }
}
.sidebar-avatar .avatar {
  float: left;
  margin-left: 20px;
  margin-right: 11px;
}
.sidebar-avatar .active-avatar {
  position: relative;
  bottom: 50px;
  left: 17px;
  fill: $green_online;
}
.sidebar-avatar .avatar-name p {
  line-height: 45px;
  color: $blue_link;
  margin-left: 11px;
}
.header-in-sidebar {
  display: none;
  @include small {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.header-in-sidebar > div {
  @include small {
    padding: 8px 0 0 0;
    height: 25px;
  }
}
.topbar__icon {
  @include small {
    padding: 0 18px;
  }
}
.header-in-sidebar .active-notification {
  @include small {
    bottom: 28px;
    left: 27px;
  }
}
